* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://imgs.search.brave.com/RehGyskqsnqOK5hkoyaY7sCVjFJM6wZ8rFS08-yDlM4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/MDU1MDY4NzQxMTAt/NmE3YTY5MDY5YTA4/P3E9ODAmdz0xMDAw/JmF1dG89Zm9ybWF0/JmZpdD1jcm9wJml4/bGliPXJiLTQuMC4z/Jml4aWQ9TTN3eE1q/QTNmREI4TUh4bGVI/QnNiM0psTFdabFpX/UjhObng4ZkdWdWZE/QjhmSHg4ZkE9PQ);
}
